@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

dialog {
    width: 275px;
    position: relative;
}

dialog input:not([type="checkbox"]) {
    display: block;
    width: 100%;
    padding: 4px 6px;
    margin-top: 6px;
}

button#submit {
    width: 100%;
    padding: 4px;
}

button#cancel {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

button#cancel:hover {
    background-color: hsl(0, 100%, 65%);
}

button#cancel:active {
    background-color: hsl(0, 100%, 40%);
}