@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

dialog {
    width: 275px;
    position: relative;
}

dialog input:not([type="checkbox"]) {
    display: block;
    width: 100%;
    padding: 4px 6px;
    margin-top: 6px;
}

button#submit {
    width: 100%;
    padding: 4px;
}

button#cancel {
    position: absolute;
    top: 5px;
    right: 5px;
}

.X-button {
    background-color: red;
}

.button-style {
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

.X-button:hover {
    background-color: hsl(0, 100%, 65%);
}

.X-button:active {
    background-color: hsl(0, 100%, 40%);
}

#book-shelf div {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 6px 12px;
    margin-bottom: 5px;
    display: flex;
    /* justify-content: space-between; */
}

#book-shelf span:not(:first-of-type) {
    margin-left: 0.5ch;
}

#book-shelf span:nth-of-type(3) {
    margin: 0 30px 0 auto;
}

#book-shelf span[data-type="status"] {
    width: 100px;
}

button[data-type="status-read"] {
    background-color: green;
}

button[data-type="status-notread"] {
    background-color: gray;
}

button[data-type="status-read"],
button[data-type="status-notread"] {
    margin-right: 10px;
    width: 80px;
}

/* layout */

body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    margin: 0;
}

header {
    grid-column: 1 / 3;
    background-color: #334155;
    color: white;
    padding: 0 30px;
    /* text-align: right; */
}

aside {
    background-color: #cbd5e1;
    padding: 15px;
}

aside button {
    width: 100%;
    padding: 6px;
    border: 0;
    background-color: #64748b;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

aside button:hover {
    background-color: hsl(215, 16%, 55%);
}

aside button:active {
    background-color: hsl(215, 16%, 40%);
}

main {
    background-color: #f1f5f9;
    padding: 15px;
}